body {
    margin: 0px;
    padding: 0px;
    background: rgb(40,40,40);
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

img {
    width: 100%;
}

.page-wrapper {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    box-sizing: border-box;
    text-align: center;
}


.clock-container {
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
}
.clock {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: rgb(10, 10, 10);
    width: 300px;
    height: 300px;
    border-radius: 100%;
}
.clock-seconds {
    background: rgb(30, 30, 30);
}
.clock-minutes {
    width: 260px;
    height: 260px;
    background: rgb(20,20,20);
}
.clock-hours {
    width: 220px;
    height: 220px;
    /* background: rgb(40,40,40); */
}

.clock-dot {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    background: white;
    width: 1px;
    height: 20px;
    /* border-radius: 100%; */
}
.clock-minutes .clock-dot {
    width: 2px;
}
.clock-seconds .clock-dot {
    width: 1px;
    background: rgb(233, 72, 57);
}

.counter-container {
    position: relative;
    width: 280px;
    height: 60px;
    /* border: 1px solid white; */
    box-sizing: border-box;
    padding: 10px 6px;
    margin: 40px auto;
    color: white;
    font-size: 40px;
    display: flex;

}

#money-counter {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 50px;
    color: white;
    width: auto;
}
#money {
    width: auto;
    margin-right: 0px;
}

#time-counter {
    position: absolute;
    left: 50%;
    top: 60px;
    transform: translate(-50%, -50%);
    font-size: 14px;
    color: rgb(220,220,220);
    display: flex;
}

.counter {
    position: relative;
    margin: auto;
    width: 40px;
    height: 100%;
    /* border: 1px solid white; */
    box-sizing: border-box;
    text-align: center;
    /* padding: 0px 6px; */

}


#payment-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
    opacity: 1;
    background: rgb(10,10,10);
    width: 300px;
    height: 300px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
}

#payment-input {
    margin: 0px 4px;
    margin-top: 2px;
    border: none;
    /* border-bottom: 1px solid rgb(140,140,140); */
    outline: none;
    background: none;
    color: white;
    font-size: 40px;
    text-align: right;
    width: 80px;
    height: 100%;
    margin-left: auto;
}

#cent-image {
    position: absolute;
    top: -60px;
    left: 50%;
    transform: translate(-30px, -50%);
    width: 60px;
    height: auto;
    animation: 1.5s rotate linear;
    z-index: -1;
    opacity: 0;
}

.button-container {
    position: absolute;
    left: 0px;
    bottom: 20px;
    /* transform: translate(-50%, -50%); */
    width: 100vw;
    height: 100px;
    box-sizing: border-box;
}
.button {
    border: none;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    outline: none;
    color: white;
    font-size: 14px;
    box-sizing: border-box;
    /* box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.2); */
    background: rgba(0, 0, 0, 0.2);
    /* border: 10px solid rgba(0,0,0,0.1); */
}
.button img {
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.stop {
    background: rgba(233, 72, 57, 0.2);
}
#play-button {
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, 50%);
}
#play-icon {
    margin-left: 4px;
}
#pause-icon {
    opacity: 0;
}
#reset-button {
    position: absolute;
    width: 60px;
    height: 60px;
    left: 80px;
    bottom: 50%;
    transform: translate(-50%, 50%);
}
#payment-button {
    position: absolute;
    width: 60px;
    height: 60px;
    right: 80px;
    bottom: 50%;
    transform: translate(50%, 50%) rotate(90deg);
    transition: 0.3s;
}

.active {
    width: 300px !important;
    bottom: 50% !important;
    transform: translate(50%, -150%) rotate(90deg) !important;
}

@keyframes rotate {
    0% {
        top: -30px;
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        top: 100%;
        transform: translate(-50%, 60px) rotate(-360deg);
    }
}

.slider-container {
    height: 60px;
    width: auto;
    background: silver;
}
#slider-tooltip {
    width: 100px;
    height: 60px;
    position: absolute;
    bottom: 100px;
    right: 32px;
    background: rgba(0,0,0,1);
    border-radius: 10px;
}

#payment-text {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: white;
}

/* The slider itself */
#payment-slider {
    position: absolute;
    right: 80px;
    bottom: 50%;
    transform: translate(50%, 50%) rotate(90deg);
    transition: 0.3s;
    visibility: hidden;
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 60px; /* Full-width */
    height: 60px; /* Specified height */
    background: rgba(0,0,0,0.2); /* Grey background */
    outline: none; /* Remove outline */
    opacity: 1; /* Set transparency (for mouse-over effects on hover) */
    border-radius: 30px;
  }
  
  /* Mouse-over effects */
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 60px; /* Set a specific slider handle width */
    height: 60px; /* Slider handle height */
    background: rgb(0, 0, 0); /* Green background */
    border-radius: 100%;
  }
  
  .slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }